body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
    font-family: 'Arial', sans-serif;
}

.settimer {
    font-family: 'Arial', sans-serif;
    color: #ffcc00;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.clock-container,
.timer-container {
    text-align: center;
    margin-bottom: 20px;
}

.digital-clock {
    font-size: 5em;
    color: #5eff00;
    background-color: #333;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: inline-block;
    letter-spacing: 5px;
    margin: 0;
}

#timerInput {
    padding: 8px;
    font-size: 1.2em;
    font-family: 'Arial', sans-serif;
    border: 2px solid #5eff00;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    margin-right: 10px;
    width: 160px;
    text-align: center;
}

#timerInput:focus {
    outline: none;
    border-color: #00ccff;
}

#timer-display {
    font-size: 3em;
    color: #5eff00;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    letter-spacing: 5px;
    margin: 0;
    margin-top: 10px;
}

button {
    padding: 10px 15px;
    font-size: 1em;
    background-color: #5eff00;
    color: #222;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #4ccc00;
}

@media only screen and (max-width: 600px) {
    .digital-clock {
        font-size: 3em;
        padding: 10px;
        border-radius: 10px;
    }

    #timerInput {
        padding: 6px;
        font-size: 0.8em;
        width: 120px;
    }

    #timer-display {
        font-size: 2em;
    }

    button {
        padding: 8px 12px;
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 400px) {
    .digital-clock {
        font-size: 2em;
        padding: 5px;
        border-radius: 5px;
    }

    #timerInput {
        padding: 4px;
        font-size: 0.7em;
        width: 100px;
    }

    #timer-display {
        font-size: 1.5em;
    }

    button {
        padding: 6px 10px;
        font-size: 0.8em;
    }
}